* {
  font-family: @fontFamily@, Helvetica, sans-serif;
  font-size: @fontSize@px;
}

window#waybar {
  background-color: #211e20;
}

#workspaces button {
  padding: 0 5px;
  margin: 5px;
  border-radius: 0;
  background-color: transparent;
}

#workspaces button.focused {
  color: #211e20;
  background-color: #a0a08b;

}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulsuaudio,
#custom-media,
#tray,
#mode,
#inhibitor {
  padding: 0 10px;
  margin: 0 5px;
}

#tray>.passive {
  color: #555568;
}

#tray>.needs-attention {
  color: #a0a08b;
}
